/*************
*  COLORS
*
* #029be6 - blue
* #333333 - dark grey
*
*
*************/
* {
	margin: 0;
}

html {
	font-size: 1em;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	height: 100%;
	background-color: #ffffff;
	font-family: Roboto, sans-serif;
	color: #333333;
}

.hero {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url(../assets/hero.png);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.hero__text {
	text-align: center;
	font-family: "Kaushan Script", cursive;
	font-size: 9em;
	color: #ffffff;
	border-bottom: .2rem solid #ffffff;
}

.underline {
	position: absolute;
	display: block;
	width: 3em;
	border-top: .1em solid #ffffff;
	margin: 8em 0;
}

.nav {
	width: 100%;
	height: 1em;
	padding-right: 15em;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0 12.6em;
	list-style-type: none;
	background-color: transparent;
	box-sizing: border-box;
	text-align: right;
	line-height: 2.7em;
    -webkit-transition: height .5s, background-color .5s;
	transition: height .5s, background-color .5s;
}

.nav--scrolled {
	height: 3em;
	background-color: #029be6;
}

.nav__item {
	display: inline;
	padding-right: 2em;
}

.nav__item__link {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 0 solid;
	transition: border-bottom .2s ease-in-out;
	-moz-transition: border-bottom .2s ease-in-out;
	-webkit-transition: border-bottom .2s ease-in-out;
}

.nav__item__link:hover {
	text-decoration: none;
	color: #ffffff;
	border-bottom: .1em solid #ffffff;
	transition: border-bottom .2s ease-in-out;
	-moz-transition: border-bottom .2s ease-in-out;
	-webkit-transition: border-bottom .2s ease-in-out;
}

.section {
	margin: 3em auto;
	width: 63%;
}

.title {
	font-size: 1.5em;
	font-family: Montserrat;
	font-weight: bold;
	text-align: center;
	padding: 1em;
}

.gallery {
	-webkit-column-count: 3;
	-webkit-column-gap: 1em;
	-moz-column-count: 3;
	-moz-column-gap: 1em;
	column-count: 3;
	column-gap: 1em;
	column-width: 5em;
	line-height: 2.5em;
}

.gallery__item {
	width: 100%;
	height: auto;
}

.full {
	z-index: -1;
	width: 100%;
	background: #e1e1e1;
	position: absolute;
	padding: 0;
}

.pricing:after {
	content: "";
	display: table;
	clear: both;
}

.pricing__item {
	float: left;
	margin-left: 2%;
	width: 32%;
	margin-bottom: 2em;
}

.pricing__item:nth-child(3n+1) { 
	margin-left: 0;
}

.pricing__item__title {
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 1em;
}

.contact {
	text-align: center;
}

.contact__link {
	font-size: 5em;
	text-decoration: none;
	color: #333333;
	transition: color .7s ease-in-out;
	-moz-transition: color .7s ease-in-out;
	-webkit-transition: color .7s ease-in-out;
}

.contact__link:hover {
	font-size: 5em;
	text-decoration: none;
	color: #029be6;
	transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
}

@media (max-width:984px) {
	.hero__text {
		font-size: 6em;
	}

	.nav {
		text-align: center;
		padding: 0;
	}

	.nav__item:last-child {
		padding-right: 0;
	}

	.nav__item__link {
		font-size: .85rem; 
	}
}

@media (max-width:790px) {
	.gallery {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	.pricing__item {
		margin-left: 6%;
		width: 47%;
		height: 7em;
	}

	.pricing__item:nth-child(3n+1) { 
		margin-left: 6%;
	}

	.pricing__item:nth-child(odd) { 
		margin-left: 0;
	}

	.contact__link {
		font-size: 4em;
	}
}

@media (max-width:550px) {
	body {
		background-size: 70%;
	}
	
	.hero__text {
		font-size: 5em;
		border-bottom: .1rem solid #ffffff;
	}
	.gallery {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

	.pricing__item {
		margin-left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.pricing__item:nth-child(3n+1) {
		margin-left: 0;
	}

	.contact__link {
		font-size: 3em;
	}

	.contact__link:hover {
		font-size: 3em;
	}